---
import CalculadoraComponent from '../components/Calculadora.tsx'
import Header from '../components/Header.astro'
---
  <html>
    <body>
      <Header />
      <h1>Calculadora</h1>
      <CalculadoraComponent client:only='react' />
    </body>
  </html>
