---
import Header from '../components/Header.astro'
import Layaut from '../components/Layaut.astro'
---
  <Layaut>
    <Header id='home' />
    <h1>Contacto</h1>
    <p>Formulario o datos de contacto aquí.</p>
  </Layaut>
