---
import Layaut from '../components/Layaut.astro'
import Navbar from '../components/Navbar.astro'
---
  <Layaut>
    <Navbar id='home' />
    <h1>Contacto</h1>
    <p>Formulario o datos de contacto aquí.</p>
  </Layaut>
