---
import Galeria from '../components/Galeria.astro'
import Navbar from '../components/Navbar.astro'
import TeamDescription from '../components/TeamDescription.astro'
---
  <html>
    <body>
      <Navbar />
      <TeamDescription />
      <Galeria />
    </body>
  </html>
