---
import Navbar from '../components/Navbar.astro'
import TeamDescription from '../components/TeamDescription.astro'
---
  <html>
    <body>
      <Navbar />
      <TeamDescription />
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
      <p>Bienvenido a la web.</p>
    </body>
  </html>
