---
const props = Astro.props
---
  <div {...props}>
    <nav id='navbar' class='relative top-0 left-0 w-full flex items-center justify-between h-20 px-4 bg-primary-header shadow'>
      <div id='scroll-logo' class='absolute left-4'>
        <img src='/logotextclear.webp' alt='Logo' class='h-15' />
      </div>

      <div class='mx-auto flex space-x-13 text-lg font-medium text-white'>
        <a href='/' class='hover:text-hover bg-primary'>Inicio</a>
        <a href='/#novedades' class='hover:text-hover'>Novedades</a>
        <a href='/#galeria' class='hover:text-hover'>Galería</a>
        <a href='/contacto' class='hover:text-hover'>Contacto</a>
      </div>
    </nav>
  </div>
