---
import DesktopNav from './navigation/DesktopNav.astro'
import MobileNav from './navigation/MobileNav.astro'

const props = Astro.props

const links = [
  { href: '/', label: 'Inicio' },
  { href: '/#calendario', label: 'Calendario' },
  { href: '/#novedades', label: 'Novedades' },
  { href: '/#twitter', label: 'Twitter' },
  { href: '/#galeria', label: 'Galería' },
  { href: '/#contacto', label: 'Contacto' }
]

---
  <div {...props}>
    <nav id='navbar' class='relative top-0 left-0 w-full flex items-center justify-between h-20 px-4 bg-primary-header shadow z-30'>
      <div id='scroll-logo' class='absolute left-4'>
        <a href='/'>
          <img src='/logotextclear.webp' alt='Logo Endurance Enjoyers' class='h-12 w-auto' />
        </a>
      </div>

      <DesktopNav links={links} />
      <MobileNav links={links} />
    </nav>
  </div>
