---
---
  <section>
    <div class='flex gap-10 columns-2 h-full w-3/5 p-6 m-auto'>
      <p class='flex-1 text-1_5xl font-bold'>
        The Endurance Enjoyers team is a group of passionate individuals who love to push their limits and explore the world of endurance sports. We believe in the power of community, support, and shared experiences to achieve our goals.
      </p>
      <div class='w-2px bg-gray-400' />
      <p class='flex-1 text-1_5xl font-bold'>
        Whether you're a seasoned athlete or just starting your journey, we welcome you to join us in our adventures. Together, we can inspire each other to reach new heights and enjoy every step of the way.
      </p>
    </div>
    <img
      width='80%'
      src='https://res.cloudinary.com/enduranceenjoyers/image/upload/v1751627209/skincar.png' alt='Team Skin Car Image' class='opacity-80 m-auto -translate-y-12'
    />
  </section>
